<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render(@cart) %>
        <% end %>
	  </div>
	  <ul>
        <li><%= link_to 'Home', store_path %></li>
	    <li><a href="http://www.diguage.com/" target="_blank">Contact</a></li>
	  </ul>
	</div>
	<div id="main">
      <%= yield %>
	</div>
  </div>
</body>
</html>
